header.main-nav{
	background: #ccc;
	color:#536;
}

header.main-nav .navigation #logo{
	background-image: url("../img/logo.png");
	display:block;
	width: 172px;
	height: 172px;
	text-indent: 0;
	color: transparent;
	background-size: 50px;
	background-repeat: no-repeat;

	float: left;

	margin: 10px 20px 30px 40px;

	margin-top: 10px;
	margin-right: 20px;
	margin-left: 30px;
	margin-bottom: 40px;

}

.sub-nav, .main-links{
	float: left;
}

.sub-nav li, .main-links li{
	display: inline-block;
	margin-right: 15px;
}


.main-nav{
	color:#245;
	background:gray;
	padding-top: 27px;
	margin-top: 13px;	
}

